@{
    ViewData["Title"] = "Lista de Medicamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @foreach (var med in @Model)
            {
            <tr>
            @*<td><a href="/Documento/Editar/@doc.Uid">Editar</a></td>*@
                    <td>@med.Nome</td>
                    <td>@med.Frequencia</td>
                    <td>@med.quantidade</td>
                    <td>@med.ultimoConsumo</td>
            </tr>

                @if (ViewBag.ContaAtiva.NivelAcesso > 0)
                {
                    <h1>AUTENTICADO!!</h1>
                }
                else
                {
                    <h2>ANÓNIMO!!</h2>
                }
            }
        </div>
    </div>
</div>
