@{
    ViewData["Title"] = "Lista de Medicamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            @if (!string.IsNullOrEmpty(ViewBag.NivelAcesso))
            {
                <h1>AUTENTICADO!!</h1>
            }
            else
            {
                <h2>ANÓNIMO!!</h2>
            }

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ação</th>
                        <th>Nome</th>
                        <th>Frequência</th>
                        <th>Quantidade</th>
                        <th>Último Consumo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var med in Model)
                    {
                        <tr>
                            <td><a href="/Documento/Editar/@med.Guid">Editar</a></td>
                            <td>@med.Nome</td>
                            <td>@med.Frequencia</td>
                            <td>@med.Quantidade</td>
                            <td>@med.UltimoConsumo.ToString("dd/mm/yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
