@{
    ViewData["Title"] = "Lista de Medicamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Editar"]</h2>

@if (!string.IsNullOrEmpty(ViewBag.ContaAtiva.Utilizador))
{
    <h1>AUTENTICADO!!</h1>

    <form asp-action="/Medicamento/Editar" method="post">
        <div class="form-group">
            <label asp-for="Nome" class="control-label">Nome do Medicamento:</label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Frequencia" class="control-label">Frequência de Consumo:</label>
            <input asp-for="Frequencia" class="form-control" />
            <span asp-validation-for="Frequencia" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantidade" class="control-label">Quantidade (em unidades):</label>
            <input asp-for="Quantidade" class="form-control" />
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UltimoConsumo" class="control-label">Data do Último Consumo:</label>
            <input asp-for="UltimoConsumo" class="form-control" type="datetime-local" />
            <span asp-validation-for="UltimoConsumo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </form>
}
else
{
    <h2>ANÓNIMO!!</h2>
    <meta http-equiv="refresh" content="0; URL=/" />
}



