
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Documento</title>
</head>
<body>
    <h1>Editar Documento</h1>
    <form method="post" action="/Documento/Editar">
        <input type="hidden" name="Uid" value="@Model.Uid" />
        <label>Titulo do Documento:</label>
        <input type="text" name="Titulo" /><br />
        <label>Resumo Documento:</label>
        <input type="text" name="Resumo" /><br />
        <label>Data Publicação:</label>
        <input type="text" name="DtPublicacao" /><br />
        <label>Estado:</label>
        <input type="checkbox" name="Estado" value="1" /><br />
        <input type="submit" value="Criar" />
    </form>
</body>
</html>
