
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDoc</title>
</head>
<body>
    <h1>Detalhe Objeto Fatura</h1>
    <p>ID: @Model.Id</p>
    <p>Titulo: @Model.Titulo</p>
    <p>Resumo: @Model.Resumo</p>
    <p>Estado: @Model.Estado</p>
</body>
</html>
