
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDoc</title>
</head>
<body>
    <h1>Detalhe Objeto Fatura</h1>

</body>
</html>
